<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pokémon Forêt Éternelle</title>
        <link href="lib/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="ui inverted stackable menu">
            <div class="header item">
                Pokémon Forêt Éternelle
            </div>
            <a class="active item">
                Actualités
            </a>
            <a class="item">
                Présentation
            </a>
            <a class="item">
                Pokédex
            </a>
            <a class="item">
                Monde
            </a>
            <a class="item">
                Images
            </a>
            <a class="item">
                Vidéos
            </a>
            <div class="right menu">
                <a class="green item">
                    <div class="ui green button">Télécharger</div>
                </a>
                <a class="item">
                    Crédits
                </a>
                <a class="item">
                    Nous suivre
                </a>
                <a class="item">
                    Déclarer un bug
                </a>
                <div class="ui inverted dropdown item">
                    Langue <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">Français</a>
                        <a class="item">English</a>
                    </div>
                </div>
            </div>
        </div>

        <h1>Hello {{ name }}</h1>

        <script src="lib/jquery/jquery-3.1.0.min.js"></script>
        <script src="lib/semantic-ui/semantic.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>